{{ define "main" }}
    {{ partial "contents.html" . }}

    {{ $page := .Page }}
    {{ $api := printf "https://api.github.com/repos/%s/releases" .Site.Params.github_repo }}
    {{ $data := dict }}
    {{ with resources.GetRemote $api }}
        {{ with .Err }}
            {{ errorf "%s" . }}
        {{ else }}
            {{ $data = . | transform.Unmarshal }}
            {{ range $index, $el := $data }}
                <article class="release">
                    {{ if eq $index 0 }}
                        <div class="tags"><span>Latest</span></div>
                    {{ end }}
                    <h1 id="{{ $el.name | urlize }}">{{ .name | title }}</h1>
                    <div id="post-content">
                        <p>{{ $el.body | $page.RenderString }}</p>
                    </div>
                    {{ with $el.assets }}
                        <div class="files">
                            {{ range . }}
                                <div class="file">
                                    <a href="{{ .browser_download_url }}">{{ .name }}</a>
                                    <span style="text-align: right">{{ printf "%.2f" (div .size 1000000.0) }} MB &middot; {{ time.Format "Jan 2, 2006" (time.AsTime .updated_at) }}</span>
                                </div>
                            {{ end }}
                        </div>
                    {{ end }}
                </article>
            {{ end }}
        {{ end }}
    {{ else }}
        {{ $fallback := printf "https://github.com/%s/releases" .Site.Params.github_repo }}
        <a href="{{ $fallback }}">Redircting to GitHub. Click here if you are not redirected.</a>
        <meta http-equiv="refresh" content="0; URL={{ $fallback }}">
    {{ end }}
{{ end }}
