:root {
    /* HSL = Hue, Saturation, Lightness */
    --primary: hsl(320, 59%, 23%);
    --primary-text: hsl(0, 0%, 100%);
    --secondary: hsl(320, 75%, 11%);
    --secondary-text: hsl(0, 0%, 100%);
    --tertiary: hsl(320, 75%, 9%);
    --tertiary-text: hsl(0, 0%, 100%);

    --background: hsl(0, 0%, 100%);
    --background-2: hsl(0, 0%, 95%);
    --background-3: hsl(0, 0%, 75%);

    /* Misc. */
    --page-width: 1280px;
    --border-radius: 0.5em;
    --transition: 0.5s cubic-bezier(.25,.8,.25,1);
}

body {
    & > main {
        display: grid;
        grid-area: main;
        grid-template-columns: 3fr 1fr;
        grid-template-areas: "main sidebar";
        gap: 2em;

        /* Sidebar */
        & > aside {
            grid-area: sidebar;

            section {
                border-radius: var(--border-radius);
                border: 0.1em solid var(--background-3);
                padding: 1em;
                margin-top: 1em;

                & > div:not(:last-child) {
                    border-bottom: 0.1em dotted var(--background-3);
                    padding-bottom: 0.5em;
                    margin-bottom: 0.5em;
                }
            }
        }
    }
}

.sponsors {
    img {
        width: 100%;
    }
}

/* Mobile */
@media screen and (max-width: 800px) {
    body > main {
        grid-template-columns: auto;
        grid-template-areas:
            "main"
            "sidebar";
    }
}
