<aside>
    {{ range (where .Site.Sections "Section" "sidebar") }}
        <section>
        {{ range .Pages }}
            <h1>{{ .Title }}</h1>
                {{ range .RegularPages }}
                    <div>
                        <h3>{{ .Title }}</h3>
                        {{ .Content }}
                    </div>
                {{ end }}
        {{ end }}
        </section>
    {{ end }}
    <section>
        <h1>Sponsors</h1>
        {{ partialCached "sponsors.html" . }}
    </section>
</aside>
