{{ define "title" }}
    {{ .Site.Title }}
{{ end }}

{{ define "header" }}
    <h5>{{ .Site.Title | title }}</h5>
{{ end }}

{{ define "main" }}
    <section id="post-content">
        {{ .Content }}
    </section>

    {{ partial "slideshow.html" (index (where .Site.Pages "Section" "about") 0)}}

    <h1>Sponsors</h1>
    <p>{{ .Site.Title }} is thankful to the following organizations for providing funding for our research:</p>
    {{ partial "sponsors.html" (index (where .Site.Pages "Section" "sponsors") 0)}}
{{ end }}
